@font-face {
    font-family: Acme;
    src: url("fonts/Acme-Regular.ttf");
}

body {
    background-color: palegoldenrod;
}

main {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

.div-header {
    display: flex;
    align-items: center;
}

img {
    max-height: 80px;
    max-width: auto;
}

.logo-two {
    -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

a {
    color: crimson;
    text-decoration: none;
    padding: 0.5rem;
}

a:hover {
    background-color: goldenrod;
    color: white;
    border-radius: 1rem;
}

ul {
    display: flex;
}

li {
    margin: 1rem;
    font-family: Acme;
    font-size: 28px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Acme;
    color: crimson;
    margin: 1rem;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    margin: 1rem;
    color: maroon;
    background-color: goldenrod;
    border-radius: 1rem;
}

th {
    font-weight: bold;
}

th, td {
    padding: 0.5rem;
}